1---/COMP/1406/JavaFX/
*.docx
2---/BUSI/
2---/COMP/2402/ods/
*.tar
*.gz
*.zip
2---/COMP/2406/Project/
2---/STAT/
.DS_Store
**/node_modules/
*.odt
*.o*
*.ko*
*.mod*
*.cert
*.key
*.class
**/Lectures/
**/.idea/
*.iml
**/out/
**/comp3000/
TAships/
