<!Doctype HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>LoTD</title>
	</head>
	<body>
		<%- include("../partials/header", {}); %>
        
        <h3 style="text-align: center;">Welcome to Lord of the Dings.</h3>
        <h4 style="text-align: center;">Fast food delivery to all of the 9 realms.</h4>
	</body>
</html>